/* CSS Reset */
*
    {
        margin: 0px;
        padding: 0px;
    }


    /* Core Components */
body
    {
        font-family: "Open Sans", Verdana, Arial, Helvetica, sans-serif;
        font-size: 13px;
        color: #333;
        background-color: #DEDEDE;
        width: 300px;
        margin: 0 auto;
    }

h1, h2, h3, h4, h5, h6
    {
        font-family: "Raleway", Verdana, Arial, Helvetica, sans-serif;
        font-weight: bold;
        line-height: inherit;
    }

h1
    {
        font-size: 2.5em;
        margin-top: 10px;
        line-height: 1.3em;
    }

h6
    {
        font-size: .8em;
        margin-top: -20px;
    }

hr
    {
        margin: auto;
        width: 85%;
        border : 0;
        height: 2px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0));
    }


    /* Sectional Components */
#contentwrap
    {
        margin-top: 10px;
        background: #BBBBBB;
        border-radius: 5px;
        border: 1px solid #000000;
        box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.25)
    }

#wrap
    {
        margin: auto;
        width: 85%;
        padding-bottom: 10px;
        text-align: center;
    }

#input
    {
        padding: 7px;
        text-align: center;
    }

#captcha
    {
        display: none;
        text-align: center;
    }

#output
    {
        padding: 7px;
        width: 100%;
        height: auto;
        text-align: center;
    }


    /* Specific Components */
#loader
    {
        width: 25%;
        height: auto;
    }

#form-gif-request
    {
        margin-top: 7px;
    }

#form-gif-request input
    {
        margin: 10px 3px;
        padding-bottom: 5px;
    }

#form-captcha input
    {
        padding 0px;
    }

#credit
    {
        width: 50%;
        height: auto;
        margin-top: 10px;
        float: right;
    }

input.btn
    {
        padding: 4px 10px;
        vertical-align: middle;
    }

#capanswer
    {
        width: 55px;
    }

#capbtn
    {
        margin-top: 5px;
    }

img
    {
        width: 95%;
        height: auto;
        margin-bottom: 7px;
    }

.img-rounded
    {
        border-radius: 5px;
        border: 1px solid #000000;
    }

.fa-rotate-45 {
        -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
