/* CSS Reset */
*
    {
        margin: 0px;
        padding: 0px;
    }


/* Core Components */
body
    {
        font-family: "Open Sans", Verdana, Arial, Helvetica, sans-serif;
        font-size: 13px;
        color: #333;
        background-color: #DEDEDE;
        width: 95%;
        margin: 0 auto;
    }

h1, h2, h3, h4, h5, h6
    {
        font-family: "Raleway", Verdana, Arial, Helvetica, sans-serif;
        font-weight: bold;
        line-height: inherit;
    }

h1
    {
        font-size: 2.5em;
        margin-top: 10px;
        line-height: 1.3em;
    }

h6
    {
        font-size: .8em;
        margin-top: -20px;
    }

hr
    {
        margin: auto;
        width: 85%;
        border : 0;
        height: 2px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0));
    }


/* Sectional Components */
#contentwrap
    {
        padding-right: 10px;
        padding-left: 10px;
        margin: 10px auto;
        background: #BBBBBB;
        border-radius: 5px;
        border: 1px solid #000000;
        box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.25);
    }

#wrap
    {
        margin: auto;
        width: 85%;
        padding-bottom: 10px;
        text-align: center;
    }

#input
    {
        padding: 7px;
        text-align: center;
    }

#captcha
    {
        display: none;
        text-align: center;
    }

#output
    {
        margin: 7px 0px 3px 0px;
        width: 100%;
        height: auto;
        text-align: center;
    }


/* Specific Components */

#topper
    {
        font-size: 14px;
    }

#loader
    {
        width: 25%;
        height: auto;
    }

#form-gif-request
    {
        margin-top: 7px;
    }

#form-gif-request input
    {
        margin: 10px 3px 2px 0px;
        padding-bottom: 5px;
    }

#form-captcha input
    {
        padding 0px;
    }

#credit
    {
        width: 100px;
        height: 11px;
        margin: 10px -15px 0px 0px;
        float: right;
    }

input.btn
    {
        padding: 4px 10px;
        vertical-align: middle;
    }

#capanswer
    {
        width: 55px;
    }

#capbtn
    {
        margin-top: 5px;
    }

img
    {
        width: auto;
        height: auto;
        margin: 2px 0px 7px 0px;
    }

.img-rounded
    {
        border-radius: 5px;
        border: 1px solid #000000;
        max-width: 100%;
        height: auto;
    }

.fa-rotate-45 {
        -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }


/* Responsive Components */

/* Extra small devices (phones, less than 768px) */
@media (max-width: @screen-xs-max)
	{
        #topper
        {
            padding: 0px 10px;
        }
	}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max)
	{
	}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) and (max-width: @screen-md-max)
	{
	}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min)
	{
	}
